.impactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--blue);
  color: var(--cream);
  padding: 4rem 0;
  scroll-snap-align: start;
  padding: var(--mobileBlockYPadding) 0 var(--mobileBlockYPadding) 0;
  text-align: center;

  .impactHeader {
    margin-bottom: 2rem;
  }

  .impactGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .impactGridItem {
      display: grid;
      gap: 1rem;
      justify-items: center;
      background: var(--dkblue);
      padding: 1rem;
      border-radius: var(--globalBorderRadius);
      .impactIcon {
        width: 100%;
        min-height: 100px;
      }
    }
  }
}

@media (min-width: 701px) {
  .impactSection {
    padding: var(--desktopBlockYPadding) 0 var(--desktopBlockYPadding) 0;

    .impactGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
