.impactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--blue);
  color: var(--cream);
  padding: 4rem 0;
  scroll-snap-align: start;

  .impactGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .impactGridItem {
      border: 1px solid red;
    }
  }
}
