.link {
  border: 1px solid red;

  .cloudContainer {
    .cloud {
      border: 1px solid green;
      position: relative;
      z-index: 0;
    }
    .linkText {
      border: 1px solid gold;
      position: absolute;
      top: -50%;
      color: black;
      z-index: 1;
    }
  }
}
