.link {
  display: inline-block;
  .cloudContainer {
    position: relative;
    display: block;
    width: fit-content;
    .cloud {
      display: block;
    }
    .linkText {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--blue);
      font-size: 1.5rem;
      font-family: var(--font-header);
    }
  }
}
