.link {
  display: inline-block;
  .cloudContainer {
    position: relative;
    display: block;
    width: fit-content;
    .cloud {
      display: block;
    }
    .linkText {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
      color: #c19d78;
      font-size: 1.5rem;
    }
  }
}
