.madeInColorado {
  display: grid;
  width: 100%;
  justify-items: center;
  background: var(--ltpink);
  padding: 4rem 0;
  color: var(--cream);
  scroll-snap-align: start;
  padding: var(--mobileBlockYPadding) 0 var(--mobileBlockYPadding) 0;

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 701px) {
  .madeInColorado {
    padding: var(--desktopBlockYPadding) 0 var(--desktopBlockYPadding) 0;
  }
}
