.madeInColorado {
  display: grid;
  height: 100vh;
  width: 100%;
  justify-items: center;
  background: var(--ltpink);
  padding: 4rem 0;
  color: var(--cream);
  scroll-snap-align: start;

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
