.footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* account for scroll progress indicator */
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);
}
