.pageHero {
  margin-top: 2rem;
  padding: 2rem 0;
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);

  .pageHeadline {
    margin-bottom: 1rem;
  }
}

@media (min-width: 701px) {
  .pageHero {
    margin-top: 38px;
  }
}
