.pageHero {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  padding: calc(var(--mobileNavHeight) + 1rem) 0 var(--mobileBlockYPadding) 0;

  .pageHeadline {
    margin-bottom: 1rem;
  }
}

@media (min-width: 701px) {
  .pageHero {
    padding: calc(var(--desktopNavHeight) + 1rem) 0 var(--desktopBlockYPadding)
      0;
  }
}
