.workGallery {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;

  .galleryCanvas {
    border: 1px dashed palevioletred;
    height: 250px;
  }
}

@media (min-width: 701px) {
  .workGallery {
  }
}
