.contentContainer {
  border: 1px solid red;
  width: 100%;
  margin: 0 2rem;
}

/* Desktop and above */
@media (min-width: 1120px) {
  .contentContainer {
    border: 1px solid green;
    max-width: 1120px;
    /* margin: 0; */
  }
}
