:root {
  --ltpink: #ffc4cf;
  --dkpink: #f6b1b1;
  --ltbrown: #e7ad85;
  --dkbrown: #c19d78;
  --cream: #f3f9e3;
  --blue: #325c6b;
  --dkblue: #192e35;
  --mobileNavHeight: 48px;
  --desktopNavHeight: 48px;
  --mobileBlockYPadding: 2rem;
  --desktopBlockYPadding: 3rem;
  --globalBorderRadius: 0.33rem;
}

/* TODO: implement dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    /* vars here */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 500;
  line-height: 0.625;
}

p,
a {
  font-family: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  padding: 0.5rem 0.25rem;
  border-radius: 0.33rem;
  font-family: var(--font-body);
  color: var(--cream);
  background: transparent;
  border: 1px solid var(--cream);
}

button:hover {
  transition: 0.3s ease-out;
  background: var(--cream);
  color: black;
  cursor: pointer;
}

.reactive-btn-wrapper,
.reactive-btn {
  --reactive-button-min-width: fit-content !important;
  --reactive-button-min-height: 35px !important;
  --reactive-button-font-size: 14px !important;
  --reactive-button-font-weight: 400 !important;
  --reactive-button-border-radius: 0.33rem !important;
  --reactive-button-text-color: var(--cream) !important;
  --reactive-progress-color: rgba(0, 0, 0, 0.15) !important;

  --reactive-button-primary-color: var(--cream) !important;
  --reactive-button-secondary-color: rgba(108, 117, 125, 1) !important;
  --reactive-button-dark-color: rgba(66, 78, 106, 1) !important;
  --reactive-button-light-color: rgba(183, 186, 191, 1) !important;
  --reactive-button-green-color: rgba(37, 162, 51, 1) !important;
  --reactive-button-red-color: rgba(244, 81, 108, 1) !important;
  --reactive-button-yellow-color: rgba(255, 193, 7, 1) !important;
  --reactive-button-teal-color: rgba(0, 181, 173, 1) !important;
  --reactive-button-violet-color: rgba(100, 53, 201, 1) !important;
  --reactive-button-blue-color: rgba(66, 153, 225, 1) !important;

  --reactive-progress-outline-primary-color: rgba(
    243,
    249,
    227,
    0.3
  ) !important;
  --reactive-progress-outline-secondary-color: rgba(
    108,
    117,
    125,
    0.3
  ) !important;
  --reactive-progress-outline-dark-color: rgba(66, 78, 106, 0.3) !important;
  --reactive-progress-outline-light-color: rgba(214, 212, 212, 0.3) !important;
  --reactive-progress-outline-green-color: rgba(37, 162, 51, 0.3) !important;
  --reactive-progress-outline-red-color: rgba(244, 81, 108, 0.3) !important;
  --reactive-progress-outline-yellow-color: rgba(255, 193, 7, 0.3) !important;
  --reactive-progress-outline-teal-color: rgba(0, 181, 173, 0.3) !important;
  --reactive-progress-outline-violet-color: rgba(100, 53, 201, 0.3) !important;
  --reactive-progress-outline-blue-color: rgba(66, 153, 225, 0.3) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Desktop and above */
@media (min-width: 1120px) {
}

/* Tablet and Above */
@media (min-width: 701px) {
  /* font-sizes - perfect fourth in typescale.com with 18px as a base */
  h1 {
    font-size: 100.98px;
  }
  h2 {
    font-size: 75.76px;
  }
  h3 {
    font-size: 56.83px;
  }
  h4 {
    font-size: 42.63px;
  }
  h5 {
    font-size: 31.98px;
  }
  h6 {
    font-size: 23.99px;
  }

  p,
  a,
  li {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  /* font-sizes - perfect fourth in typescale.com with 14px as a base */
  h1 {
    font-size: 78.54px;
  }
  h2 {
    font-size: 58.92px;
  }
  h3 {
    font-size: 44.2px;
  }
  h4 {
    font-size: 33.16px;
  }
  h5 {
    font-size: 24.88px;
  }
  h6 {
    font-size: 18.66px;
  }

  p,
  a,
  li {
    font-size: 14px;
  }
}

/* react-locomotive-scroll styles */
