.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  color: var(--cream);
  font-family: var(--font-body);

  .contactForm {
    display: flex;
    flex-direction: column;

    .formInputContainer {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .formLabel {
        margin-bottom: 0.25rem;
      }
      .formInput {
        width: 100%;
        padding: 0.5rem 0.25rem;
        font-family: var(--font-body);
        border: none;
        border-bottom: 1px solid var(--cream);
      }
      /* .formInput:focus {
        border: none;
      } */

      .formError {
        margin-top: 0.25rem;
      }

      .formInput:focus {
        outline: none;
        background: var(--cream);
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .gridLabel {
      margin-bottom: 0.5rem;
    }
    .interestGrid,
    .budgetGrid {
      display: flex;
      flex-wrap: wrap;

      gap: 1rem;
      margin-bottom: 2rem;

      .gridButton {
        padding: 0.5rem 0.5rem;
        border-radius: 0.33rem;
        font-family: var(--font-body);
        color: var(--cream);
        background: transparent;
        border: 1px solid var(--cream);
        text-wrap: wrap;
      }

      .activeGridButton {
        transition: 0.3s ease-out;
        background: var(--cream);
        color: black;
      }
    }
  }
}

@media (min-width: 701px) {
  .formContainer {
    .contactForm {
      max-width: 700px;

      /* .submitButton {
        width: fit-content;
        padding: 0.5rem;
      } */
    }
  }
}
