.landingHero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: flex-start;
  color: var(--cream);
  position: relative;

  .bgVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
  }

  .landingGrid {
    margin-top: 50px;
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    .contentContainer {
      text-align: center;
      font-size: 24px;
      margin-bottom: 2rem;
      mix-blend-mode: difference;
    }
  }
}

/* Tablet and Above */
@media (min-width: 701px) {
  .landingHero {
    align-items: flex-start;
    .landingGrid {
      margin-top: 61px;

      .contentContainer {
        font-size: 36px;
      }
    }
  }
}
