.horizontalScrollSection {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px solid green;
  -webkit-overflow-scrolling: touch;

  left: 0;
  background: var(--blue);
  color: var(--cream);

  .scrollableArea {
    width: 300vw;

    .scrollSection {
      border: 1px solid red;
      width: 50vw;
      height: 100vh;
    }
  }
}
