.threeImageSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--mobileBlockYPadding) 0 var(--mobileBlockYPadding) 0;
  scroll-snap-align: start;

  .threeImageGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    .gridImage {
      width: 100%;
    }
  }
}

@media (min-width: 701px) {
  .threeImageSection {
    padding: var(--desktopBlockYPadding) 0 var(--desktopBlockYPadding) 0;
    .threeImageGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
