.mobileNavMenuContainer {
  position: relative;

  .fixedContainer {
    position: fixed;
    width: calc(100% - 4rem);
    z-index: 9999;
    .mobileNavMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      background: var(--blue);
      border-radius: 0.33rem;
      color: var(--cream);
      transition: ease all 0.4s;
      padding: 0.5rem 0;

      .navItem {
        padding: 0.5rem;
      }
    }

    .mobileNavClosed {
      top: -250px;
    }

    .mobileNavOpen {
      top: 54px;
    }
  }
}

@media (min-width: 701px) {
  .mobileNavMenuContainer {
    display: none;
  }
}
