.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  color: var(--cream);
  mix-blend-mode: difference;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navMenu {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
