.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem 0 2rem;

  .logo {
    max-width: 74px;
  }

  .navMenu {
    display: flex;
    gap: 0.75rem;
    .navItem {
      mix-blend-mode: difference;
      list-style-type: none;
    }
  }
}
