.whatWeDo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--cream);
  padding: var(--mobileBlockYPadding) 0 var(--mobileBlockYPadding) 0;
  scroll-snap-align: start;

  .content {
    color: var(--blue);
    text-align: center;

    .title,
    .text {
      margin-bottom: 2rem;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    /* added margin because of 1rem image offset border */
    margin-bottom: 1rem;

    .textImageSection {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "content";

      .contentContainer {
        color: var(--blue);
        grid-area: content;

        .title {
          margin-bottom: 1rem;
        }
      }

      .imageAndBorderContainer {
        width: 100%;
        grid-area: image;

        .image {
          width: 100%;
          object-fit: cover;
          border-radius: var(--globalBorderRadius);
        }
      }
    }
  }
}

/* tablet and up */
@media (min-width: 701px) {
  .whatWeDo {
    padding: var(--desktopBlockYPadding) 0 var(--desktopBlockYPadding) 0;
    .gallery {
      gap: 5rem;
      .textImageSection {
        gap: 3rem;

        .imageAndBorderContainer {
          .borderContainer {
            border: 1px solid var(--ltbrown);
            border-radius: var(--globalBorderRadius);
            position: relative;
            height: 350px;
            width: 350px;

            .image {
              position: absolute;
              top: 1rem;
            }

            .imageFirst {
              left: 1rem;
            }

            .contentFirst {
              left: -1rem;
            }
          }
        }
      }
      .imageFirstContainer {
        grid-template-areas: "image content";
        grid-template-columns: 350px 1fr;
      }

      .contentFirstContainer {
        grid-template-areas: "content image";
        grid-template-columns: 1fr 350px;
      }
    }
  }
}
