.whatWeDo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f3f9e3;
  padding: 2rem;

  .content {
    mix-blend-mode: difference;
    color: #c19d78;
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .textImageSection {
      display: grid;
      grid-template-columns: 1fr 350px;
      gap: 2rem;

      .contentContainer {
        color: #c19d78;
        mix-blend-mode: difference;
      }

      .imageAndBorderContainer {
        .borderContainer {
          border: 1px solid #c19d78;
          position: relative;
          height: 350px;
          width: 350px;

          .image {
            position: absolute;
            top: 1rem;
            left: -1rem;
          }
        }
      }
    }
  }
}
