.aboutUs {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mobileBlockYPadding) 0 var(--mobileBlockYPadding) 0;
  position: relative;

  .aboutUsHeader {
    color: var(--cream);
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    mix-blend-mode: difference;
  }

  .firstHalf {
    position: absolute;
    height: calc(50%);
    width: 100%;
    top: 0;
    background: var(--blue);
    z-index: -99;
  }

  .secondHalf {
    position: absolute;
    height: 50%;
    width: 100%;
    top: calc(50%);
    background: var(--cream);
    z-index: -99;
  }

  .contentGrid {
    display: grid;
    width: 100%;
    gap: 4rem;

    .firstContent {
      color: var(--cream);
    }

    .secondContent {
      color: var(--blue);
    }

    .contentArea {
      display: grid;
      justify-items: center;
      text-align: center;

      .headshotImage {
        margin-bottom: 1rem;
        border-radius: 50%;
      }

      .name {
        margin-bottom: 0.5rem;
      }

      .position {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 701px) {
  .aboutUs {
    padding: var(--desktopBlockYPadding) 0 var(--desktopBlockYPadding) 0;

    .firstHalf {
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0;
      background: var(--blue);
    }

    .secondHalf {
      position: absolute;
      height: 100%;
      width: 50%;
      left: 50%;
      top: 0;
      background: var(--cream);
    }

    .aboutUsHeader {
      mix-blend-mode: unset;
      text-align: start;
    }

    .contentGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
